*.asset binary
*.unity binary
*.prefab binary
*.meta binary
*/CommunicatorObjects/* binary
*/communicator_objects/* binary
*.md text
Project/Assets/ML-Agents/RacingGame/RaceTrack-8-Agents.unity filter=lfs diff=lfs merge=lfs -text
